header {
  background-color: var(--cinza-bem-claro);
  display: block;
  margin-bottom: 3rem;
  text-align: center;
}

.header_titulo_mobile {
  display: none;
}

.submenu {
  background-color: var(--azul-claro);
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.h2_submenu {
  margin-right: auto;
  text-decoration: none;
}

.a_submenu {
  margin-left: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}

.nav_submenu {
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 0.5rem 0;
  width: 1026px;
}

/* MENU USUÁRIOS */

.menu-usuario {
  background-color: var(--branco);
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px solid var(--azul-escuro);
}

.nav_menu-usuario {
  align-items: center;
  display: flex;
  justify-content: right;
  margin: 0 auto;
  width: 1026px;
}

.menu-usuario a {
  color: black;
  padding: 8px 15px;
  margin-left: 1rem;
}

.menu-usuario a:hover {
  color: var(--branco);
  background-color: var(--azul-claro);
}

.container-atualizar-dados {
  display: none;
  margin: 0 auto;
  border-bottom: 1px solid var(--azul-escuro);

}

.form-atualizar-dados {
  width: 40%;
  margin: 0 auto 1rem auto;
  padding: 1rem 0 0 0;
}

@media (max-width: 768px) {

  header {
    margin-bottom: 1rem;
  }

  .header_titulo_mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .img_header {
    margin: 0.5rem 0;
  }

  .h2_submenu {
    display: none;
  }

  .submenu {
    justify-content: center;
  }

  .nav_submenu {
    padding: 0.5rem;
    width: auto;
  }

  /* MENU USUÁRIOS */

  .menu-usuario,
  .container-atualizar-dados {
    width: 100%;
  }

  .form-atualizar-dados {
    width: 90%;
  }

  .nav_menu-usuario {
    width: auto;
    justify-content: center;
  }
}