.login_container {
    background-color: var(--azul-escuro);
    border: none;
    border-radius: 3px;
    height: auto;
    margin: auto;
    max-width: 1026px;
    padding: 1rem 0;
}

.label_atualizar-dados {
    color: var(--azul-escuro);
    display: flex;
    margin-top: 1rem;
}

.form-login, .form-cadastro, .cadastro-link {
    width: 40%;
    margin: 0 auto 1rem auto;
    padding: 1rem 0 0 0;
}

@media (max-width: 768px) {

    .form-login, .form-cadastro, .cadastro-link {
        width: 90%;
    }
}